<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weather>
            <general>
                <enabled>1</enabled>
                <api_endpoint>
                    <![CDATA[http://api.weatherapi.com/v1/current.json]]>
                </api_endpoint>
                <api_key>9d4131081aba4f6ea86134435211612</api_key>
                <city>Lublin</city>
            </general>
        </weather>
    </default>
</config>
