<?xml version='1.0' encoding="utf-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageMastery\Blog\Api\PostManagementInterface" type="MageMastery\Blog\Service\PostManagement"/>
    <preference for="MageMastery\Blog\Api\Data\PostInterface" type="MageMastery\Blog\Model\Post"/>
    <preference for="MageMastery\Blog\Api\PostRepositoryInterface" type="MageMastery\Blog\Service\PostRepository"/>
</config>

