<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tab_id" translate="label" sortOrder="110">
            <label>My Tab</label>
        </tab>
        <section id="section_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>My Section</label>
            <tab>tab_id</tab>
            <resource>Mdg_Catalog::my</resource>
            <group id="product_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product</label>
                <attribute type="expanded">1</attribute>
                <field id="add_to_price" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to price</label>
                    <validate>integer</validate>
                </field>
            </group>
        </section>
        <tab id="secondTab_id" translate="label" sortOrder="110">
            <label>My srcond tab</label>
        </tab>
        <section id="secondSect_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
            <class>separator-top</class>
            <label>new section</label>
            <tab>secondTab_id</tab>
            <resource>Mdg_Catalog::my</resource>
            <group id="prod_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product text</label>
                <attribute type="expanded">1</attribute>
                <field id="add_to_name" translate="label" type="text" sortOrder="10" showInStore="1" showInDefault="1" showInWebsite="1">
                    <label>Add to name</label>
                    <validate>letters-only</validate>
                </field>
            </group>
        </section>
    </system>
</config>
