<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="standart">
        <route id="me_helloworld" frontName="me_helloworld">
            <module name="Mgd1_ExampleModule"/>
        </route>
    </router>
</config>
